@model GestaoProducao_MVC.Models.ViewModel.ApontamentoViewModel

@{
    ViewData["Title"] = "Detalhes Apontamento";
}

<div class="d-flex flex-column justify-content-center">
    <nav>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Apontamento.Id" class="btn btn-outline-warning">Editar</a> |
            <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
        </div>
    </nav>
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="conteudoDetails">
        <div class="details-ponto">
            <div class="secaoData">
                <p class="itemData">@Html.DisplayNameFor(model => model.Apontamento.Maquina)</p>
                <p class="valueData">@Html.DisplayFor(model => model.Apontamento.Maquina.Nome)</p>
            </div>
            <div class="secaoData">
                <p class="itemData">@Html.DisplayNameFor(model => model.Apontamento.Funcionario)</p>
                <p class="valueData">@Html.DisplayFor(model => model.Apontamento.Funcionario.Name)</p>
            </div>

            <div class="secaoData">
                <p class="itemData">@Html.DisplayNameFor(model => model.Apontamento.DataInicial)</p>
                <p class="valueData">@Html.DisplayFor(model => model.Apontamento.DataInicial)</p>

            </div>


            @if (!Model.Apontamento.IsAtivo)
            {

                <div class="secaoData">
                    <p class="itemData">@Html.DisplayNameFor(model => model.Apontamento.DataFinal)</p>
                    <p class="valueData">
                        @Html.DisplayFor(model => model.Apontamento.DataFinal)
                    </p>
                </div>
            }



            <div class="secaoData">
                <p class="itemData">
                    @Html.DisplayNameFor(model => model.Apontamento.Processo.OrdemProdutoId)
                </p>
                <p class="valueData">
                    @Html.DisplayFor(model => model.Apontamento.Processo.OrdemProdutoId)
                </p>
            </div>


            <div class="secaoData">
                <p class="itemData">
                    @Html.DisplayNameFor(model => model.Apontamento.Processo.CodigoPeca)
                </p>
                <p class="valueData">
                    @Html.DisplayFor(model => model.Apontamento.Processo.CodigoPeca)

                </p>

            </div>

            <div class="secaoData">
                <p class="itemData">
                    @Html.DisplayNameFor(model => model.Apontamento.Processo.QuantidadePeca)
                </p>
                <p class="valueData">
                    @Html.DisplayFor(model => model.Apontamento.Processo.QuantidadePeca)

                </p>

            </div>

            <div class="secaoData">
                <p class="itemData">
                    @Html.DisplayNameFor(model => model.Apontamento.Operacao)

                </p>
                <p class="valueData">
                    @Html.DisplayFor(model => model.Apontamento.Operacao)

                </p>
            </div>

            @if (Model.Apontamento.Descricao != null)
            {

                <div class="secaoData">
                    <p class="itemData"> @Html.DisplayNameFor(model => model.Apontamento.Descricao)</p>

                    <p class="valueData"> @Html.DisplayFor(model => model.Apontamento.Descricao)</p>
                </div>

            }

            @if (Model.Apontamento.Status == GestaoProducao_MVC.Models.Enums.AptStatus.Ativo)
            {
                TempData["AptAtivo"] = "bgCardAtivo";

            }
            @if (Model.Apontamento.Status == GestaoProducao_MVC.Models.Enums.AptStatus.Parado)
            {
                TempData["AptAtivo"] = "bgCardDanger";

            }


            @if (Model.Apontamento.Status == GestaoProducao_MVC.Models.Enums.AptStatus.Encerrado)
            {
                TempData["AptAtivo"] = "bg-active";
            }

            <div class="secaoData">
                <p class="itemData"> @Html.DisplayNameFor(model => model.Apontamento.Status)</p>

                <p class="valueDataStatus @TempData["AptAtivo"]"> @Html.DisplayFor(model => model.Apontamento.Status)</p>

            </div>
        </div>


        <div class="tempo">
            <div class="cardTempo">
                <p class="labelTempo">@Html.DisplayNameFor(model => model.Apontamento.TempoTotal)</p>
                <p class="displayTempo">@Html.DisplayFor(model => model.Apontamento.TotalTime)</p>
            </div>
            <div class="cardTempo">
                <p class="labelTempo">@Html.DisplayNameFor(model => model.Apontamento.TempoDeParadasFormatado)</p>
                <p class="displayTempo">@Html.DisplayFor(model => model.Apontamento.TempoDeParadasFormatado)</p>
            </div>
            <div class="cardTempo">
                <p class="labelTempo">@Html.DisplayNameFor(model => model.Apontamento.TempoUtilFormatado)</p>
                <p class="displayTempo">
                    @Html.DisplayFor(model => model.Apontamento.TempoUtilFormatado)
                </p>
            </div>
            <div class="cardTempo">
                <p class="labelTempo">@Html.DisplayNameFor(model => model.Apontamento.TempoAproximadoItemFormatado)</p>
                <p class="displayTempo">@Html.DisplayFor(model => model.Apontamento.TempoAproximadoItemFormatado)</p>
            </div>



        </div>
    </div>


    @if (Model.RegistroParadas.Any())
    {
        <div class="secaoBtn">
        <button type="button" id="btnListarParadas" class="btn btn-outline-dark">Listar paradas</button>
        </div>
        <div class="secaoHidden" id="secaoParadas">

            <h4 class="text-center">Registros de Paradas</h4>

            <div class="secaoParadas">
                @foreach (var item in Model.RegistroParadas)
                {
                    @if (item.Status == GestaoProducao_MVC.Models.Enums.AptStatus.Ativo)
                    {
                        ViewData["Active"] = "cardParadaAtiva";

                    }
                    else
                    {
                        ViewData["Active"] = "cardParadaEncerrada";
                    }
                    <div class="cardParada @ViewData["Active"]">

                        <p class="motivoParada">
                            @Html.DisplayFor(modelItem => item.CodigoParada.Descricao)
                        </p>
                        <p class="tempoTotalParada">
                            Tempo Total: @Html.DisplayFor(modelItem => item.TempoDeParadaFormatado)
                        </p>
                        <p class="statusParada">
                            Status: @Html.DisplayFor(modelItem => item.Status)
                        </p>
                        <a class="btn btn-sm btn-outline-dark" asp-controller="RegistroParadas" asp-action="Details" asp-route-id="@item.Id">+ Detalhes</a>

                    </div>
                }

            </div>

        </div>

    }



</div>



<script src="~/js/apontamentoDetails.js"></script>