@model GestaoProducao_MVC.Models.ViewModel.ApontamentoViewModel

@{
    ViewData["Title"] = "Detalhes Apontamento";
}

<div>
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="conteudoDetails">
        <div class="details-ponto">
            <div class="secaoData">
                <p class="itemData">@Html.DisplayNameFor(model => model.Apontamento.Maquina)</p>
                <p class="valueData">@Html.DisplayFor(model => model.Apontamento.Maquina.Nome)</p>
            </div>
            <div class="secaoData">
                <p class="itemData">@Html.DisplayNameFor(model => model.Apontamento.Funcionario)</p>
                <p class="valueData">@Html.DisplayFor(model => model.Apontamento.Funcionario.Name)</p>
            </div>

            <div class="secaoData">
                <p class="itemData">@Html.DisplayNameFor(model => model.Apontamento.DataInicial)</p>
                <p class="valueData">@Html.DisplayFor(model => model.Apontamento.DataInicial)</p>

            </div>


            @if (!Model.Apontamento.IsAtivo)
            {

                <div class="secaoData">
                    <p class="itemData">@Html.DisplayNameFor(model => model.Apontamento.DataFinal)</p>
                    <p class="valueData">
                        @Html.DisplayFor(model => model.Apontamento.DataFinal)
                    </p>
                </div>
            }



            <div class="secaoData">
                <p class="itemData">
                    @Html.DisplayNameFor(model => model.Apontamento.Processo.OrdemProdutoId)
                </p>
                <p class="valueData">
                    @Html.DisplayFor(model => model.Apontamento.Processo.OrdemProdutoId)
                </p>
            </div>


            <div class="secaoData">
                <p class="itemData">
                    @Html.DisplayNameFor(model => model.Apontamento.Processo.CodigoPeca)
                </p>
                <p class="valueData">
                    @Html.DisplayFor(model => model.Apontamento.Processo.CodigoPeca)

                </p>

            </div>

             <div class="secaoData">
                <p class="itemData">
                    @Html.DisplayNameFor(model => model.Apontamento.Processo.QuantidadePeca)
                </p>
                <p class="valueData">
                    @Html.DisplayFor(model => model.Apontamento.Processo.QuantidadePeca)

                </p>

            </div>

            <div class="secaoData">
                <p class="itemData">
                    @Html.DisplayNameFor(model => model.Apontamento.Operacao)

                </p>
                <p class="valueData">
                    @Html.DisplayFor(model => model.Apontamento.Operacao)

                </p>
            </div>

            @if (Model.Apontamento.Descricao != null)
            {

                <div class="secaoData">
                    <p class="itemData"> @Html.DisplayNameFor(model => model.Apontamento.Descricao)</p>

                    <p class="valueData"> @Html.DisplayFor(model => model.Apontamento.Descricao)</p>
                </div>

            }

            @if (Model.Apontamento.Status == GestaoProducao_MVC.Models.Enums.AptStatus.Ativo)
            {
                TempData["AptAtivo"] = "bgCardAtivo";

            }
            @if (Model.Apontamento.Status == GestaoProducao_MVC.Models.Enums.AptStatus.Parado)
            {
                TempData["AptAtivo"] = "bgCardDanger";

            }


            @if (Model.Apontamento.Status == GestaoProducao_MVC.Models.Enums.AptStatus.Encerrado)
            {
                TempData["AptAtivo"] = "bg-active";
            }

            <div class="secaoData">
                <p class="itemData"> @Html.DisplayNameFor(model => model.Apontamento.Status)</p>

                <p class="valueDataStatus @TempData["AptAtivo"]"> @Html.DisplayFor(model => model.Apontamento.Status)</p>

            </div>
        </div>


        <div class="tempo">
            <div class="cardTempo">
                <p class="labelTempo">@Html.DisplayNameFor(model => model.Apontamento.TempoTotal)</p>
                <p class="displayTempo">@Html.DisplayFor(model => model.Apontamento.TotalTime)</p>
            </div>
            <div class="cardTempo">
                <p class="labelTempo">@Html.DisplayNameFor(model => model.Apontamento.TempoDeParadasFormatado)</p>
                <p class="displayTempo">@Html.DisplayFor(model => model.Apontamento.TempoDeParadasFormatado)</p>
            </div>
            <div class="cardTempo">
                <p class="labelTempo">@Html.DisplayNameFor(model => model.Apontamento.TempoUtilFormatado)</p>
                <p class="displayTempo">
                    @Html.DisplayFor(model => model.Apontamento.TempoUtilFormatado)
                </p>
            </div>
            <div class="cardTempo">
                <p class="labelTempo">@Html.DisplayNameFor(model => model.Apontamento.TempoAproximadoItemFormatado)</p>
                <p class="displayTempo">@Html.DisplayFor(model => model.Apontamento.TempoAproximadoItemFormatado)</p>
            </div>



        </div>
    </div>



    <div>
        <h4>Registros de Paradas</h4>
        <hr />
        <table class="table">
            <thead>
                <tr class="table-dark">

                    <th>
                        @Html.DisplayNameFor(model => model.RegistroParadas[0].CodigoParada.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegistroParadas[0].TempoTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegistroParadas[0].Status)
                    </th>
                    <th> + Detalhes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RegistroParadas)
                {
                    @if (item.Status == GestaoProducao_MVC.Models.Enums.AptStatus.Ativo)
                    {
                        ViewData["Active"] = "table-danger";

                    }
                    else
                    {
                        ViewData["Active"] = "table-primary";
                    }
                    <tr class="@ViewData["Active"]">

                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoParada.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TempoDeParadaFormatado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>


                        <td>
                            <a asp-controller="RegistroParadas" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="RegistroParadas" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="RegistroParadas" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>




    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Apontamento.Id" class="btn btn-outline-warning">Editar</a> |
        <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
    </div>
</div>