@model IEnumerable<GestaoProducao_MVC.Models.Apontamento>

@{
    ViewData["Title"] = "Central de APontamentos";
    bool encerrado;
}

@{

}



<h1>@ViewData["Title"]</h1>


<p>
    <a asp-action="Create" class="btn btn-outline-dark">Iniciar Apontamento</a>
    <a asp-action="Finalizar" class="btn btn-outline-dark">Encerrar Apontamento</a>
</p>
<form asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" class="form-control-sm" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-outline-info" />
        <a asp-action="Index" class="btn btn-sm btn-outline-dark">Listar todos</a>
    </p>
</form>




@if(TempData["Exclusao"] != null)
{
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Algo deu errado!</strong><p>@TempData["Exclusao"]</p>  
</div>
}

<table class="table table-hover table-striped cell-border" id="table-personalizada">
    <thead>
        <tr class="bg-header-table text-black">
            <th>
                @Html.DisplayNameFor(model => model.Maquina.Nome)
            </th>
            <th>
                Funcionário
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Processo.OrdemProduto.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoTotal)
            </th>
           
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Status == GestaoProducao_MVC.Models.Enums.AptStatus.Ativo)
            {
                ViewData["Active"] = "table-success";
                encerrado = false;
            }
            else if (item.Status == GestaoProducao_MVC.Models.Enums.AptStatus.Parado)
            {
                ViewData["Active"] = "table-danger";
            }
            else
            {
                ViewData["Active"] = "table-active";
                encerrado = true;
            }


            <tr class="@ViewData["Active"]">
                <td>
                    @Html.DisplayFor(modelItem => item.Maquina.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Processo.OrdemProdutoId)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Operacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-sm btn-outline-dark">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-sm btn-outline-dark">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>




