@model GestaoProducao_MVC.Models.RegistroParada

@{
    ViewData["Title"] = "Detalhes de Parada";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apontamento.Maquina.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apontamento.Maquina.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apontamento.Funcionario.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apontamento.Funcionario.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoDeParadaFormatado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoParada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoParada.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apontamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apontamento.Processo.CodigoPeca)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFinal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-dark">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
</div>
