@model IEnumerable<GestaoProducao_MVC.Models.RegistroParada>

@{
    ViewData["Title"] = "Lista de Paradas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apontamento.Funcionario.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoParada.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apontamento.Maquina.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoTotal)
            </th>
    
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
           <th>Opções:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apontamento.Funcionario.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoParada.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apontamento.Maquina.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempoDeParadaFormatado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
