@model GestaoProducao_MVC.Models.Processo

@{
    ViewData["Title"] = "Detalhes do Processo";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPeca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadePeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadePeca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdemProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdemProduto.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
</div>
