@model IEnumerable<GestaoProducao_MVC.Models.Maquina>

@{
    ViewData["Title"] = "Máquinas";
}

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<div class="menuIndex">
    <a asp-controller="Apontamentos" asp-action="CentralApontamentos" class="btn btn-outline-dark">Retornar para a central</a>
    <a asp-action="Create" class="btn btn-outline-dark">Criar nova Máquina</a>
</div>
@*<form asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" class="form-control-sm" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-outline-info"/>
        <a asp-action="Index" class="btn btn-sm btn-outline-dark">Listar todos</a>
    </p>
</form>*@
<table class="table table-hover table-striped cell-border" id="tabela-maquinas">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-active">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
          
        </tr>
}
    </tbody>
</table>
