@model GestaoProducao_MVC.Models.ViewModel.OrdemProdutoViewModel

@{
    ViewData["Title"] = "Ordem de Produção - Detalhes";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="menuDetails">
    <a asp-action="Index" class="btn btn-outline-dark">Vizualizar todas OPs</a>
    <a asp-action="Edit" asp-route-id="@Model.OrdemProduto?.Id" class="btn btn-outline-warning">Editar</a>
</div>

<div class="errorDiv">

    @if (TempData["TempoEstimado"] != null)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Atenção!</strong><p class="paragragoErro">@TempData["TempoEstimado"]</p>
        </div>
    }

</div>


<div class="conteudoDetails">


    <div class="details-ponto">
        <div class="secaoData">
            <p class="itemData">@Html.DisplayNameFor(model => model.OrdemProduto.Id)</p>
            <p class="valueData">@Html.DisplayFor(model => model.OrdemProduto.Id)</p>
        </div>


        <div class="secaoData">
            <p class="itemData">@Html.DisplayNameFor(model => model.OrdemProduto.CodigoProduto)</p>
            <p class="valueData">@Html.DisplayFor(model => model.OrdemProduto.CodigoProduto)</p>
        </div>


        <div class="secaoData">
            <p class="itemData">@Html.DisplayNameFor(model => model.OrdemProduto.QuantidadeProduto)</p>
            <p class="valueData">@Html.DisplayFor(model => model.OrdemProduto.QuantidadeProduto)</p>
        </div>


        <div class="secaoData">
            <p class="itemData">@Html.DisplayNameFor(model => model.OrdemProduto.DataVenda)</p>
            <p class="valueData">@Html.DisplayFor(model => model.OrdemProduto.DataVenda)</p>
        </div>

        <div class="secaoData">
            <p class="itemData">@Html.DisplayNameFor(model => model.OrdemProduto.DataEntrega)</p>
            <p class="valueData">@Html.DisplayFor(model => model.OrdemProduto.DataEntrega)</p>
        </div>

        <div class="secaoData">
            <p class="itemData">@Html.DisplayNameFor(model => model.OrdemProduto.OpStatus) </p>
            <p class="valueData"> @Html.DisplayFor(model => model.OrdemProduto.OpStatus) </p>
        </div>



    </div>


    <div class="tempo">
        <div class="cardTempo">
            <p class="labelTempo">@Html.DisplayNameFor(model => model.OrdemProduto.TempoEstimadoFormatado)</p>
            <p class="displayTempo">@Html.DisplayFor(model => model.OrdemProduto.TempoEstimadoFormatado)</p>
        </div>

        <div class="cardTempo">
            <p class="labelTempo">@Html.DisplayNameFor(model => model.OrdemProduto.TempoTotalDecorridoFormatado)</p>
            <p class="displayTempo">@Html.DisplayFor(model => model.OrdemProduto.TempoTotalDecorridoFormatado)</p>
        </div>

        <div class="cardTempo">
            <p class="labelTempo">@Html.DisplayNameFor(model => model.OrdemProduto.TempoTotalParadasFormatado)</p>
            <p class="displayTempo">@Html.DisplayFor(model => model.OrdemProduto.TempoTotalParadasFormatado)</p>
        </div>


        <div class="cardTempo">
            <p class="labelTempo">@Html.DisplayNameFor(model => model.OrdemProduto.TempoTotalUtilFormatado)</p>
            <p class="displayTempo">@Html.DisplayFor(model => model.OrdemProduto.TempoTotalUtilFormatado)</p>
        </div>

        <div class="cardTempo">
            <p class="labelTempo">@Html.DisplayNameFor(model => model.OrdemProduto.TempoTotalAproxFormatado)</p>
            <p class="displayTempo">@Html.DisplayFor(model => model.OrdemProduto.TempoTotalAproxFormatado)</p>
        </div>
    </div>

</div>


</div>


@if (Model.Processos.Any())
{



    <div class="secaoBtn">
        <button type="button" id="btnListarProcessos" class="btn btn-outline-dark">Listar Processos</button>
    </div>
    <div class="secaoHidden" id="secaoProcesso">

        <h4 class="text-center">Processos desta OP</h4>

        <div class="secaoParadas">
            @foreach (var item in Model.Processos)
            {             
                <div class="cardParada cardParadaEncerrada">

                    <p class="motivoParada">
                       @Html.DisplayFor(modelItem => item.CodigoPeca) 
                    </p>   
                    <p class="itemCard">
                        Código de Apontamento:@Html.DisplayFor(modelItem => item.Id) 
                    </P>
                    <p class="itemCard">
                        Descrição:@Html.DisplayFor(modelItem => item.Descricao) 
                    </P>
                    <p class="itemCard">
                        Tempo estimado:@Html.DisplayFor(modelItem => item.TempoEstimadoFormatado)
                    </p>
                      <a class="btn btn-sm btn-outline-dark"  asp-controller="Processos" asp-action="Details" asp-route-id="@item.Id"> + Detalhes</a>
                   
                </div>
            }

        </div>

    </div>

}



<script src="~/js/ordemProdutoDetails.js"></script>





