@model GestaoProducao_MVC.Models.OrdemProduto

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div>
    <h4 class="text-center">Ordem de Produção</h4>
    <hr/>
   <table class="table table-bordered table-striped table-borderless table-hover" >
    <thead>
        <tr class="bg-dark text-white text-center">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpStatus)
            </th>
           
        </tr>
    </thead>
    <tbody class=" text-center">
        <td>
            @Html.DisplayFor(model => model.Id)
        </td>
        <td>
            @Html.DisplayFor(model => model.CodigoProduto)
        </td>
        <td>
            @Html.DisplayFor(model => model.QuantidadeProduto)
        </td>
        <td>
            @Html.DisplayFor(model => model.DataVenda)
        </td>
        <td>
            @Html.DisplayFor(model => model.DataEntrega)
        </td>
        <td>
            @Html.DisplayFor(model => model.OpStatus)
        </td>
    </tbody>
    </table>

<div class="d-flex justify-content-center gap-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-dark">Voltar</a>
</div>
