@model IEnumerable<GestaoProducao_MVC.Models.OrdemProduto>

@{
    ViewData["Title"] = "Ordens de Produção";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-controller="Apontamentos" asp-action="CentralApontamentos" class="btn btn-outline-dark">Retornar para a central</a>
    <a asp-action="Create" class="btn btn-outline-success">Criar novo</a>
</p>
<table class="table table-hover table-striped cell-border" id="tabela-ordemProdutos">
    <thead>
        <tr class="table-active">
             <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpStatus)
            </th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                <tr class="text-center linhaTable">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpStatus)
                </td>
                <td class="d-flex justify-content-evenly align-items-baseline">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Excluir</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
